:root {
  --accent-color: #2196f3;
  --primary-heading-color: #212121;
  --secondary-heading-color: #ffffff;
  --primary-text-color: #757575;
  --contacts-text-color: #757575;
  --nav-text-color: #212121;
  --secondary-text-color: #ffffff;
  --address-text-color: rgba(255, 255, 255, 0.6);
  --logo-first-color: #000000;
  --logo-second-color: #ffffff;
  --bg-first-color: #ffffff;
  --bg-second-color: #2f303a;
  --bg-third-color: #f5f4fa;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: var(--bg-first-color);
  color: var(--primary-text-color);
}
.container {
  width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}
.list {
  list-style: none;
}
.link {
  text-decoration: none;
}
.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}
.title {
  color: var(--primary-heading-color);
}
.sub-title {
  color: var(--primary-heading-color);
  font-weight: 500;
}
.text {
  color: var(--primary-text-color);
}
/* Logo */
.logo {
  font-family: 'Raleway';
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--accent-color);
}
.logo-header {
  color: var(--logo-first-color);
}
.logo-footer {
  color: var(--logo-second-color);
}
.button {
  font-family: inherit;
  font-size: 16px;
  cursor: pointer;
}
/* Header */
.nav-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--nav-text-color);
}
.current {
  color: var(--accent-color);
}
.nav-link:hover,
.nav-link:focus {
  color: var(--accent-color);
}
.contacts-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--contacts-text-color);
}
.contacts-link:hover,
.contacts-link:focus {
  color: var(--accent-color);
}
/* Hero */
.hero {
  background-color: var(--bg-second-color);
}
.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--secondary-heading-color);
}
.hero-button {
  background-color: var(--accent-color);
  color: var(--secondary-text-color);
  font-weight: 700;
  letter-spacing: 0.06em;
}
/* Preferences */
.preferences-title {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.preferences-text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}
/* Occupation */
.occupation {
  background-color: var(--bg-first-color);
}
.occupation-title {
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
}
/* Team */
.team {
  background-color: var(--bg-third-color);
}
.team-title {
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
}
.team-subtitle {
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}
.team-text {
  line-height: 1.19;
  letter-spacing: 0.03em;
}
/* Footer */
.footer {
  background-color: var(--bg-second-color);
}
.address {
  font-style: normal;
}
.address-link {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--address-text-color);
}
.address-link.city {
  color: var(--secondary-text-color);
}
.address-link:hover,
.address-link:focus {
  color: var(--accent-color);
}
/* Portfolio */
.filter-button {
  font-weight: 500;
  color: var(--nav-text-color);
  background-color: var(--bg-third-color);
  letter-spacing: 0.03em;
}
.filter-button:hover {
  background-color: var(--accent-color);
  color: var(--secondary-text-color);
}
.example-title {
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}
.example-text {
  line-height: 1.88;
  letter-spacing: 0.03em;
}
